<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href= "{{ url_for('static',filename='bootstrap-3.2.0-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
          html {
        position: relative;
        min-height: 100%;
      }
      body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
      }
    </style>

    <!-- Custom styles for this template -->
  </head>

  <body>

    <div class="navbar navbar-inverse " role="navigation">

      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="dashboard.html">Network Labs</a>
        </div>

      </div>

    </div>

		<div class="container-fluid">

      <div class="row">

        <div class="col-md-8 col-md-offset-2">

          <h1>Dashboard - Configure your apps!</h1>
          <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" align="center">
            <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
            <li><a href="#network" role="tab" data-toggle="tab">Network Configuration</a></li>
            <li><a href="#information" role="tab" data-toggle="tab">Information Display</a></li>
            <li><a href="#incentive" role="tab" data-toggle="tab">Incentive Scheme</a></li>
            </ul>

          <!-- Tab panes -->
            <div class="tab-content">

              <div class="tab-pane active" id="overview">
                <h2 class="page-header">Welcome to the Dashboard</h2>
                <p class="lead">
                You are one step away from creating your first app!
                <br><br>
                Please use the tabs to navigate and select the various configurations available.
                Once you have finalized the onfiguraton, a config file will be generated upon submission. This will then be sent to the server and used to build the app.
                <br><br>
                You can configure each of these settings independently and submit them for the server to start processing them.
                </p>
              </div>

              <div class="tab-pane" id="network">
                <h2 class="page-header">Network Configurations</h2>
                <p class="lead">
                  Control the network topology, database creation and other network parameters

                  <div class="container">
                  <form class="form-horizontal" action="http://127.0.0.1:5000/network_config" method="POST" enctype="multipart/form-data">
                      <h4 class="page-header">Database</h4>
                      <div class="form-group ">

                        <label for="list1" class="col-sm-4 control-label">Enter database to be created</label>
                        <div class="col-sm-3">
                          <div class="input-group">
                            <input type="text" class="form-control" id="list1" name="db_name" placeholder="database name">
                            <span class="input-group-addon">Ex - app_name</span>
                          </div>
                        </div>

                      </div>

                      <div class="form-group ">

                        <label for="list1" class="col-sm-4 control-label">Select classes to be created</label>
                        <div class="col-sm-2">
                          <div class="checkbox">
                            <label><input type="checkbox" name="person"> Person</label><br>
                            <label><input type="checkbox" name="base_entity"> Base Entity</label><br>
                            <label><input type="checkbox" name="card"> Card
                            </label>
                          </div>
                        </div>

                      </div>

                      <h4 class="page-header">Network Controls</h4>
                      <div class="form-group ">

                        <label for="list4" class="col-sm-4 control-label">Enter the number of users</label>
                        <div class="col-sm-3">
                          <div class="input-group">
                            <input type="text" class="form-control" id="list4" placeholder="number of users" name="num_users">
                            <span class="input-group-addon">Ex - 1000</span>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list5" class="col-sm-4 control-label">Select the network topology</label>
                        <div class="col-sm-2">
                          <div class="checkbox">
                            <label class="radio"><input type="radio" value="no" name="network_type" checked> No</label>
                            <label class="radio"><input type="radio" value="small_world" name="network_type"> Small World</label>
                            <label class="radio"><input type="radio" value="power_law" name="network_type"> Power Law</label>
                            <label class="radio"><input type="radio" value="random_network" name="network_type"> Random Network</label>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list6" class="col-sm-4 control-label">Enter number of friends for each user:</label>
                        <div class="col-sm-3">
                          <div class="input-group">
                            <input type="text" class="form-control" id="list6" placeholder="number of friends" name="num_friends">
                            <span class="input-group-addon">Ex - 30</span>
                          </div>
                        </div>

                      </div>

                      <div class="form-group ">

                        <label for="list6" class="col-sm-4 control-label">Recalibrate Information Network</label>
                        <div class="col-sm-2">
                          <div class="checkbox">
                            <label class="radio"><input type="radio" value="yes" name="recalibrate"> Yes</label>
                            <label class="radio"><input type="radio" value="no" name="recalibrate" checked> No</label>
                          </div>
                        </div>

                      </div>

                      <h4 class="page-header">Special Cases</h4>

                      <div class="form-group ">

                        <label for="list7" class="col-sm-4 control-label">Add a single user</label>
                        <div class="col-sm-3">
                          <div class="input-group">
                            <input type="text" class="form-control" id="list7" placeholder="username" name="single_user">
                            <span class="input-group-addon">Ex - username</span>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list8" class="col-sm-4 control-label">Add custom friends</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="custom_friends">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list9" class="col-sm-4 control-label">Clear Network</label>
                        <div class="col-sm-2">
                          <div class="checkbox">
                            <label><input type="checkbox" name="clear_network"> Yes</label><br>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-3">
                          <input type="submit" class="btn btn-primary col-sm-3" name="network-form" value="Send">
                        </div>
                      </div>

                  </form>
                </div>

              </div>

              <div class="tab-pane" id="information">
                <h2 class="page-header">Information Display</h2>
                <p class="lead">
                  Find settings to configure how the information is displayed to the user.

                  <div class="container">
                  <form class="form-horizontal" action="http://127.0.0.1:5000/info_display_config" method="POST" enctype="multipart/form-data">
                      <h4 class="page-header">Message Type</h4>
                      <div class="form-group ">

                        <label for="list1" class="col-sm-5 control-label">List of users who get positive messages:</label>
                        <div class="col-sm-2">
                         <div class="container">
                            <input type="file" id="friendInputFile" name="positive_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list2" class="col-sm-5 control-label">List of users who get negative messages</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="negative_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list3" class="col-sm-5 control-label">List of users who get neutral messages</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="neutral_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>

                      <h4 class="page-header">Message Granularity</h4>
                      <div class="form-group ">

                        <label for="list4" class="col-sm-5 control-label">List of people who get messages bases on weekly aggregates</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="weekly_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list5" class="col-sm-5 control-label">List of users who get messages based on monthly aggregates</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="monthly_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list6" class="col-sm-5 control-label">List of users who get messages based on all time aggregates</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="all_time_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>

                      <h4 class="page-header">Other Type</h4>

                      <div class="form-group ">

                        <label for="list7" class="col-sm-5 control-label">List of users who get spatial stats</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="spatial_stats_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list8" class="col-sm-5 control-label">List of users who get messages based on network aggregates</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="network_stats_messages">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>
                      <div class="form-group ">

                        <label for="list9" class="col-sm-5 control-label">List of users who get messages with images</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="messages_with_images">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group ">

                        <label for="list10" class="col-sm-5 control-label">List of users who get messages that have tables and charts</label>
                        <div class="col-sm-2">
                          <div class="container">
                            <input type="file" id="friendInputFile" name="messages_with_tables">
                            <p class="help-block">Input file with user names</p>
                          </div>
                        </div>

                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-3">
                          <input type="submit" class="btn btn-primary col-sm-3" name="info-display-form" value="Send">
                        </div>
                      </div>

                  </form>
                  </div>

                </p>
              </div>

              <div class="tab-pane" id="incentive">
                <h2 class="page-header">Incentive Scheme</h2>
                <p class="lead">
                Find settings to adjust the levels of incentiveness.
                </p>
              </div>

            </div>

        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container" style="text-align: center">
        <br>
        <p>Designed and built with all the love in the world by Network Labs</p>
        <p>For any suggestions please contact dev.networklabs@gmail.com</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='bootstrap-3.2.0-dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-3.2.0-dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-3.2.0-dist/js/holder.js') }}"></script>
  <script type="text/javascript">
  $('.dropdown-select').on( 'click', '.dropdown-menu li a', function() {
     var target = $(this).html();

     //Adds active class to selected item
     $(this).parents('.dropdown-menu').find('li').removeClass('active');
     $(this).parent('li').addClass('active');

     //Displays selected text on dropdown-toggle button
     $(this).parents('.dropdown-select').find('.dropdown-toggle').html(target + ' <span class="caret"></span>');
  });</script>
  </body>
</html>
